.shopcar-list {
    width: 100%;
    overflow: hidden;
    h3 {

    }
    .car-list {
        padding: 10px;
        overflow: hidden;
        li {
            width: 100%;
            overflow: hidden;
            padding: 10px 0;
            border-bottom: 1px dashed #ddd;
            div {
                float: left;
                &.input {
                    width: 5%;
                }
                &.img {
                    width: 35%;
                }
                &.title {
                    width: 30%;
                }
                &.num {
                    width: 25%;
                    input{
                        width: 80%;
                    }
                }
                &.set {
                    width: 5%;
                }
            }
        }
    }
}