.shopcar-list {
    width: 100%;
    overflow: hidden;
    h3 {
        height: 40px;
        line-height: 40px;
    }
    .car-list {
        padding: 10px;
        overflow: hidden;
        li {
            width: 100%;
            overflow: hidden;
            padding: 10px 0;
            border-bottom: 1px dashed #ddd;
            .input {
                float: left;
                width: 6%;
                padding-top: 15px;
            }
            .img-box {
                width: 30%;
                float: left;
                margin: 0 10px;
                img {
                    border: 1px solid #ddd
                }
            }
            .text-area {
                overflow: hidden;
                h4 {
                    font-size: 16px;
                    display: -webkit-box;
                    margin-bottom: 8px;
                }
                .num{
                    width: 100%;
                    overflow: hidden;
                    text-align: right;
                    .price{
                        float: left;
                        font-weight: bold;
                        font-size: 22px;
                        color: red;
                    }
                    button{
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                    }
                    input{
                        width: 50px;
                        height: 23px;
                        border:1px solid #ddd;
                    }
                }
                .set{
                    text-align: right;
                    button{
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    .tips{
        margin-top: 40px;
        font-size: 16px;
        text-align: center;
    }
}