.home-lists {
  .home-hotSale{
    width: 6.4rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .3rem;
  }
    .home-list {
        .home-images {
            background-color: #f3f4f5;
            margin-top: 0.24rem;
            border: 1px solid #f3f4f5;
            a {
                .home-img {

                }
            }
        }
        .home-text {
            justify-content: space-between;
            display: flex;
            align-items: center;
            p:nth-child(1) {
                color: #222;
                font-size: 0.32rem;
                margin: 0.1rem 0 0 0.2rem;

            }
            p:nth-child(2) {
                margin-top: 0.1rem;
                margin-right: .1rem;
                font-size: 0.24rem;
                color: #b1b1b6;
            }
        }
        .home-discount{
         margin: 0.2rem 0 0 0.2rem;
          color: #5771a8;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: keep-all;

      }
    }
    .home-list:last-child{
          margin-bottom: 1rem;
    }
}